
  <table>
    <tr>
      <td class="invisible"></td>
      <th class = 'title' [colSpan]="columns.length">
        {{tableName}}
      </th>
    </tr>
    <tr class="precontent">
        <td class="invisible"></td>
      <th *ngFor="let column of columns">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let entry of sortedData">
      <td class="invisible">
          <img src="../../../assets/DeleteLight.png" class="smallIconButton" (click)="delete(entry)">
      </td>
      <td *ngFor="let column of columns" (click)="open(entry)">
        <span *ngIf="column == moneyColumn"><div class="eur">€</div>{{entry[column].toFixed(2)}}</span>
        <span *ngIf="entry[column].constructor.name != 'Date' && column != moneyColumn">{{entry[column]}}</span>
        <span *ngIf="entry[column].constructor.name == 'Date'">{{makeDateString(entry[column])}}</span>
      </td>
    </tr>
    <tr class="totals">
      <td class="invisible"></td>
      <td *ngFor="let column of columns">
        <div *ngIf="column == moneyColumn"><div class="eur">€</div>{{calculateTotalMoneyAmount().toFixed(2)}}</div>
        <div *ngIf="column == columns[0]">Total:</div> 
      </td>
    </tr>
  </table>