<div id='main' class='maincontent'>
  <div id='tableholder'>
    <table>
        <td>
          <tr>
            Username: 
          </tr>
          <tr>
            Password: 
          </tr>
        </td>
        <td>
          <tr>
            <input id='username' type='text'>
          </tr>
          <tr>
            <input id='password' type='password'>
          </tr>
        </td>

      </table>
      <button id='login' (click)="login();">Login</button>
      <a href routerLink='register'><button>Register</button></a>
  </div>
</div>