<div class="maincontent">
  <table>
    <tr>
      <td colspan=2>
        <table id='summary'>
          <tr>
            <td class="namecol">
              Total income:
            </td>
            <td>
                <div class="eur">€</div>{{income.toFixed(2)}}
            </td>
          </tr>
          <tr>
            <td>
              Total expenses:
            </td>
            <td colspann=2>
                <div class="eur">€</div>{{expenses.toFixed(2)}}
            </td>
          </tr>
          <tr>
            <td>
              Net. profit:
            </td>
            <td>
              <div class="eur">€</div>{{(income - expenses).toFixed(2)}}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        Start date:
      </td>
      <td class='end' id='endtext'>
        End date: 
      </td>
    </tr>
    <tr>
      <td>
        <input type="date" id="start" (change)="calculateBetweenDates(true)" value="{{start}}">
      </td>
      <td class='end'>
        <input type="date" id="end" (change)="calculateBetweenDates(true)" value="{{end}}">
      </td>
    </tr>
    <tr class='tablecomponent'>
        <td class='tablecomponent' colspan='2'>
          <app-overview-table #incomeTable name="Income"></app-overview-table>
        </td>
    </tr>
    <tr>
      <td colspan='2'>
        <app-overview-table #expensesTable name="Expenses"></app-overview-table>
      </td>
    </tr>
  </table>
</div>