<div class='maincontent' id='main'>
  <table>
    <tr>
      <td colspan="2">
        Name:
        <br>
        <input type="text" id="name" name="name">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Description:
        <br>
        <input type="text" id="description" name="description">
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="cancel();" id="cancel" name="cancel">Cancel</button>
        <button (click)="create();" id="create" name="create">Create</button>
      </td>
    </tr>
  </table>
</div>