#main {
    align-content: center;    
    width:100%;
    height:100%;
    position:absolute;
}

#name {
    margin-bottom: 15px;
    width: 300px;
}

#description {
    margin-bottom: 7px;
    width: 500px;
    height: 150px;
}

table.members, tr.members, td.members, th.members {
    font-family:verdana;
    font-size:17px;
    border-bottom: 2px solid #282828;
    border-collapse:collapse;
    text-align:start;
    padding:6px;
    color:#383838;
    background: #969696;
}

table.members {
    width:450px;
}

.smallIconButton {
    margin-left:8px;
    margin-bottom:-2px;
}

input[type=text] {
    width:300px;
}

.buttoncol {
    padding-right:10px;
}

#email {
    height:18px;
}