#main {
    background-color: #282828;
    height:100%;
    min-height: 100%;
    height:auto !important;
    width:250px;
    position: absolute;
    margin-top:0px;
    margin-bottom:auto;

}

a {
    text-decoration: none;
    cursor:pointer;
}