table, tr, td, th {
    font-family:verdana;
    font-size:17px;
    border: 2px solid #282828;
    border-collapse:collapse;
    text-align:start;
    padding:6px;
    color:#383838;
    background: #969696
}

table {
    min-width: 100%;
    width: 100%;
}

td, th {
    min-width:150px;
}

#totals {
    border-top-width:4px;
}

.precontent {
    border-bottom-width:4px;
}

.rowtitle {
    border-right-width:4px;
}

.title {
    font-size:22px;
}